@import url('./main-layout.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');

html {
	--lumo-clickable-cursor: pointer;
	--lumo-secondary-color: hsl(212, 100%, 95%);
}

.ui-text-8 {
	font-size: 8px;
}

.ui-offenburg-branding {
	background-image: url('images/offenburg_logo.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	align-self: stretch;
}

.ui-metadata-item {
	background: var(--lumo-contrast-5pct);
	border: 1px solid var(--lumo-contrast-20pct);
	border-radius: 5px;
	padding: var(--lumo-space-xs) var(--lumo-space-s) var(--lumo-space-xs) var(--lumo-space-s);
	color: var(--lumo-contrast-80pct);
	justify-content: space-between;
	align-items: center;
}

.ui-search-match {
	color: var(--lumo-primary-text-color);
	font-weight: 500;
}

.ui-section-heading {
	font-weight: bold;
	font-size: var(--lumo-size-xxs);
}

.ui-item-history {
	display: block;
	margin-left: 50px;
	width: calc(100% - 50px) !important;
	padding-bottom: 2em;
}


.ui-item-history-container>.ui-item-history {
	position: relative;
}

.ui-item-history-container>.ui-item-history:before {
	content: "○";
	font-size: .875em;
	margin-left: -50px;
	box-sizing: border-box;
	display: block;
	float: left;
	margin-top: .875em;
	color: var(--lumo-constrast-20pct);
}

.ui-item-history-container>.ui-item-history:after {
	content: "";
	border-right: 2px dotted var(--lumo-contrast-40pct);
	float: left;
	display: block;
	height: calc(100% - .875em);
	margin-left: -45px;
	position: absolute;
	top: 1.7em;
	margin-top: 0.2em;
}

.ui-item-history-container>.ui-item-history:last-of-type:after {
	display: none;
}

.ui-logout-popup--roles {
	font-weight: 600;
	color: var(--lumo-contrast-70pct);
	font-size: var(--lumo-font-size-m);
}

.ui-horizontal-separator {
	box-shadow: inset 0 -1px 0 0 var(--lumo-contrast-10pct), inset 0 1px 0 0 var(--lumo-contrast-10pct);
}

.ui-border-shadow {
	box-shadow: inset 1px -1px 0 0 var(--lumo-contrast-10pct), inset -1px 1px 0 0 var(--lumo-contrast-10pct);
}

.ui-file-reference-label-in-grid {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.ui-file-reference-inactive {
	color: var(--lumo-contrast-60pct);
}

.ui-fav-star {
	color: #efa12b;
}

.ui-fav-star-inactive {
	color: var(--lumo-contrast-40pct);
}

.ui-item-inactive {
	color: var(--lumo-contrast-40pct);
	font-size: 0.5rem;
}

.ui-search-grid-details-item {
	background: var(--lumo-contrast-5pct);
	border: 1px solid var(--lumo-contrast-20pct);
	border-radius: 5px;
	padding: var(--lumo-space-m);
	color: var(--lumo-contrast-80pct);
}