[part='card'] {
    width: calc(var(--lumo-size-m) * 10);
}


[part='brand'] {
    background: var(--lumo-base-color);
    color: var(--lumo-base-text-color);
}

:host(vaadin-password-field-button) {
    background-image: none;
    box-shadow: none;
}


[part='backdrop'] {
    background: transparent linear-gradient(var(--lumo-shade-60pct), var(--lumo-shade-60pct));
}