[part="input-field"] {
    background-color: var(--lumo-base-color);
    border: 1px solid var(--lumo-contrast-20pct);
}

[part="label"] {
    font-weight: bold;
    color: var(--lumo-contrast-80pct);
}