:host(.ui-primary-button) {
  box-sizing: border-box;
  box-shadow: none;
  background: var(--lumo-primary-color);
  padding: var(--lumo-space-l) calc(var(--lumo-space-l)*1.5);
  font-size: var(--lumo-font-size-l);
  color: var(--lumo-primary-contrast-color);
}

:host(.ui-primary-small-button) {
  box-sizing: border-box;
  box-shadow: none;
  background: var(--lumo-primary-color);
  padding: var(--lumo-space-l) calc(var(--lumo-space-l));
  font-size: var(--lumo-font-size-m);
  color: var(--lumo-primary-contrast-color);
}


:host(.ui-secondary-button) {
  box-sizing: border-box;
  box-shadow: none;
  background: var(--lumo-secondary-color);
  padding: var(--lumo-space-l) calc(var(--lumo-space-l)*1.5);
  font-size: var(--lumo-font-size-l);
  color: var(--lumo-primary-text-color);
  border: 1px solid var(--lumo-primary-color);
}


:host(.ui-danger-button) {
  box-sizing: border-box;
  box-shadow: none;
  background: var(--lumo-error-color-10pct);
  padding: var(--lumo-space-l) var(--lumo-space-xl);
  font-weight: 600;
  font-size: var(--lumo-font-size-l);
  color: var(--lumo-error-text-color);
  border: 1px solid var(--lumo-error-color);
}


:host(.ui-link-button) {
  display: flex;
}

:host(.ui-link-button) .vaadin-button-container {
  width: auto;
  height: auto;
}

:host(.ui-link-button) .vaadin-button-container [part='label'] {
  padding: 0em;
}