:host(.ui-tall-dialog) [part~="overlay"] {
    min-height: 30em;
}

:host(.ui-confirm-dialog) [part~="overlay"] {
	width: 35em;
    padding: var(--lumo-space-l);
}

:host(.ui-dialog) [part~="overlay"] {
    width: 40em;
    padding: var(--lumo-space-xl);
}

:host(.ui-dialog) [part~="footer"] {
	background: none;
    padding: 0em var(--lumo-space-l);
}


:host(.ui-login-dialog) [part~="overlay"] {
    width: calc(var(--lumo-size-m) * 12);
}


:host(.ui-login-dialog) [part='backdrop'] {
    background-color: var(--lumo-shade-60pct);
}