[part~='row']:hover [part~='cell'] {
    background-color: var(--lumo-contrast-5pct);
}

[part~='row']:hover [part~='body-cell'] {
    background-color: hsl(210, 100%, 95%);
}

:host [part~="body-cell"] ::slotted(vaadin-grid-cell-content) {
    cursor: pointer;
}

[part~='row']:hover {
    cursor: pointer;
}